h4.LORDGORING{
   
    font-family: sans-serif;
    font-size: 20px;
    color:teal;
}
h4.LORDGORING:hover{
    text-shadow: 2px 2px 5px red;
    border-style: solid;
}
h4.SIRROBERTCHILTERN{
    font-family: sans-serif;
    font-size: 20px;
    color:plum;
}
h4.SIRROBERTCHILTERN:hover{
    text-shadow: 2px 2px 5px red;
    border-style: solid;
}
p.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:black;
}

p.stagedirection{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    background-color: palegreen;
}
p.stagedirection:hover{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    background-color: cornsilk;

}
table{
    margin: 30px;
}

th {
    border: 1px solid black;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
  }
  td{
      border: 1px solid black;
      color:purple;
      padding: 20px;
      text-align: center;
  }

tr:nth-child(even){
    background-color: lightblue;
}

  